@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #ffffff;
    color: #17293c;
    font-family: 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  html.dark body {
    background-color: #0f1a24;
    color: #ffffff;
  }
}
